In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('k12grades_data.csv')
df

,LH22_1A_19,LH22_1B_19,LH22_2A_19,LH22_2B_19,LH22_3A_19,LH22_3B_19,LH22_4A_19,LH22_4B_19,LH22_5A_19,LH22_5B_19,LH22_6A_19,LH22_6B_19,LH22_7A_19,LH22_7B_19,LH22_8A_19,LH22_8B_19,LH22_9A_19,LH22_9B_19,LH22_10A_19,LH22_10B_19
0,0.0,1.0,2.0,12.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0.0,6.0,7.0,9.0,10.0,12.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0.0,6.0,7.0,8.0,9.0,10.0,11.0,12.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1.0,5.0,1.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0.0,3.0,4.0,6.0,7.0,8.0,9.0,12.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1429,1.0,6.0,NaN,3.0,3.0,7.0,1.0,2.0,1.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1430,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1431,1.0,7.0,7.0,12.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1432,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1433,1.0,7.0,8.0,9.0,10.0,12.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Use loops to create a new dataframe for social sequence analysis

一共13个年级，0是幼儿园，1-12是12个年级

1A: 这个人在这个学校开始的年级，1B是结束的年级，一共允许一个学生在k12阶段里面呆了最多10个学校（在问卷里是这样，但是在现实情况不知道）

LH22_1A_19 -> 第一个学校开始的年级


对于学生0而言的年级：0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12
学生在第几个学校：1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2
学生1: 1, 1, 1, 1, 1, 1, 2, 2, 2, 3, 3, 3

现在又改了一下：educational age

1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13

In [ ]:
sequence_dataframe = pd.DataFrame()


for _, row in df.iterrows():
    student_list_values = []
    first_school_start_grade = row['LH22_1A_19'] # 0
    first_school_end_grade = row['LH22_1B_19'] # 0
    
    # 计算这个学生在一个学校里面呆了多久，估计都要写个小函数
    
    if first_school_end_grade - first_school_start_grade == 0:
        # 说明这个人只在这个学校呆了1年
        student_list_values.append(1)
        
    if first_school_end_grade - first_school_start_grade != 0:
        # 不止呆了一年
        # 有可能呆了很多年，不管呆x年，列表之后的x个元素都是这个学校
        # for i in range(x):
            # student_list_values.append(2)
    
    # ....
    # student_list_values = [1, 1, 2, 2, ..., 2]
    
    # 把这个学生的 student_list_values 插到新的 dataframe 中，sequence_dataframe
    # 当然，还得加上 student id 在前面