# 官网文档 get_distance_matrix, get_substitution_matrix, clara 的样例结果
*作者：李欣怡 日期：2025年3月1日*

样例数据集来源 Gapminder，我们提取里面关于 CO2 的数据进行距离矩阵的计算和聚类分析。

本文包括：
- 获得数据
- get_distance_matrix 的样例
- get_substitution_matrix 的样例
- clara 的样例

让我们开始吧！

In [18]:
# Import necessary libraries
from sequenzo import * # Social sequence analysis
import pandas as pd # Import necesarry packages

In [19]:
# Load the data that we would like to explore in this tutorial
# `df` is the short for `dataframe`, which is a common variable name for a dataset
df = load_dataset('country_co2_emissions')

# show
df

,country,1800,1801,1802,1803,1804,1805,1806,1807,1808,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Afghanistan,Very Low,Very Low,Very Low,Very Low,Very Low,Very Low,Very Low,Very Low,Very Low,...,High,High,High,High,High,High,High,High,High,High
1,Albania,Very Low,Very Low,Very Low,Very Low,Very Low,Very Low,Very Low,Very Low,Very Low,...,Very High,Very High,Very High,Very High,Very High,Very High,Very High,Very High,Very High,Very High
2,Algeria,Very Low,Very Low,Very Low,Very Low,Very Low,Very Low,Very Low,Very Low,Very Low,...,Very High,Very High,Very High,Very High,Very High,Very High,Very High,Very High,Very High,Very High
3,Andorra,High,High,High,High,High,High,High,High,High,...,Very High,Very High,Very High,Very High,Very High,Very High,Very High,Very High,Very High,Very High
4,Angola,Low,Low,Low,Low,Low,Low,Low,Low,Low,...,High,High,High,High,High,High,High,High,High,High
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
189,Venezuela,Very Low,Very Low,Very Low,Very Low,Very Low,Very Low,Very Low,Very Low,Very Low,...,Very High,Very High,Very High,Very High,Very High,High,Middle,High,High,High
190,Vietnam,Low,Low,Low,Low,Low,Low,Low,Low,Low,...,High,High,High,High,High,Very High,Very High,Very High,Very High,Very High
191,Yemen,Very Low,Very Low,Very Low,Very Low,Very Low,Very Low,Very Low,Very Low,Very Low,...,High,High,High,High,High,High,High,High,High,High
192,Zambia,High,High,High,High,High,High,High,High,High,...,High,High,High,High,High,High,High,High,High,High
193,Zimbabwe,Middle,Middle,Middle,Middle,Middle,Middle,Middle,Middle,Middle,...,High,High,High,High,High,High,High,High,High,High

In [20]:
# Ctrate SeqdataData
# Define the time-span variable
time = list(sequence_df_co2_emissions.columns)[1:]

states = ['Very Low', 'Low', 'Middle', 'High', 'Very High']

sequence_data = SequenceData(sequence_df_co2_emissions, time=time, states=states)

sequence_data

[>] SequenceData initialized successfully! Here's a summary:
[>] Number of sequences: 194
[>] Min/Max sequence length: 222 / 222
[>] Alphabet: ['High', 'Low', 'Middle', 'Very High', 'Very Low']

SequenceData(194 sequences, Alphabet: ['High', 'Low', 'Middle', 'Very High', 'Very Low'])

# 第一章：get_distance_matrix
这些是官方文档 get_distance_matrix 上的样例。

In [21]:
# OMspell + TRATE
omspell = get_distance_matrix(sequence_data,
                         method="OMspell",
                         sm="TRATE",
                         indel="auto")
omspell

[>] 194 sequences with 6 distinct states.
Computing sm with seqcost using TRATE
 [>] creating substitution-cost matrix using transition rates ...
 [>] Computing transition probabilities for states ['High', 'Low', 'Middle', 'Very High', 'Very Low'] ...
[>] Generated an indel of type number.
[>] 192 distinct spell sequences .
[>] min/max spell sequence lengths: 1 / 24.
OMspell starts ......
[>] start f:compute_all_distances() ...
[>] successfully computed!
Completion matrix starts ......
[>] start f:padding_matrix() ...
[>] successfully complete!

,0,1,2,3,4,5,6,7,8,9,...,184,185,186,187,188,189,190,191,192,193
0,0.000000,69.447824,69.466647,213.0,182.500000,179.000000,186.500000,107.499417,181.500000,187.499417,...,89.500000,117.500000,151.498793,116.500000,165.466647,91.896572,165.000000,58.499417,212.5,185.842809
1,69.447824,0.000000,55.966647,181.5,196.000000,178.500000,179.000000,96.967854,175.000000,164.000000,...,122.000000,102.999417,137.948408,104.999417,175.999417,76.500000,186.484440,58.999417,202.0,167.500000
2,69.466647,55.966647,0.000000,152.5,186.000000,152.500000,143.000000,89.000000,144.000000,151.000000,...,106.000000,76.000000,125.997978,75.000000,189.960776,39.500000,179.483429,68.948408,204.0,194.500000
3,213.000000,181.500000,152.500000,0.0,169.500000,169.000000,52.500000,164.500000,65.500000,131.500000,...,224.448408,116.500000,188.500000,105.500000,158.460776,136.000000,165.000000,170.500000,125.5,189.000000
4,182.500000,196.000000,186.000000,169.5,0.000000,135.500000,152.000000,166.000000,169.000000,193.000000,...,154.000000,170.000000,129.948408,169.000000,95.000000,203.500000,59.500000,154.999417,169.0,178.500000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
189,91.896572,76.500000,39.500000,136.0,203.500000,161.000000,133.500000,102.500000,128.500000,130.500000,...,112.500000,61.500000,134.500000,62.499417,201.500000,0.000000,198.999417,92.500000,215.5,199.000000
190,165.000000,186.484440,179.483429,165.0,59.500000,124.999417,139.500000,155.499417,156.500000,174.499417,...,149.500000,162.500000,109.396572,162.500000,76.428630,198.999417,0.000000,145.499417,170.5,162.895608
191,58.499417,58.999417,68.948408,170.5,154.999417,193.500000,170.948408,116.000000,186.967271,200.967854,...,108.948408,127.948408,155.000000,126.948408,151.999417,92.500000,145.499417,0.000000,170.0,183.467854
192,212.500000,202.000000,204.000000,125.5,169.000000,208.500000,123.000000,197.000000,189.000000,209.000000,...,223.948408,197.000000,221.000000,195.000000,158.000000,215.500000,170.500000,170.000000,0.0,194.500000
193,185.842809,167.500000,194.500000,189.0,178.500000,110.000000,139.500000,129.500000,129.500000,133.500000,...,161.500000,159.448408,192.500000,159.448408,129.448408,199.000000,162.895608,183.467854,194.5,0.000000

In [22]:
# OM + CONSTANT
om = get_distance_matrix(sequence_data,
                         method="OM",
                         sm="CONSTANT",
                         indel="auto")
om

[>] 194 sequences with 7 distinct states.
Computing sm with seqcost using CONSTANT
 [>] creating 7x7 substitution-cost matrix using 2 as constant value
[>] Generated an indel of type number.
[>] 192 distinct sequences .
[>] min/max sequence lengths: 222 / 222.
OM starts ......
[>] start f:compute_all_distances() ...
[>] successfully computed!

,0,1,2,3,4,5,6,7,8,9,...,184,185,186,187,188,189,190,191,192,193
0,0.0,130.0,118.0,406.0,352.0,314.0,332.0,182.0,332.0,340.0,...,140.0,226.0,272.0,228.0,314.0,162.0,304.0,110.0,406.0,332.0
1,130.0,0.0,88.0,284.0,328.0,348.0,282.0,180.0,320.0,302.0,...,234.0,192.0,266.0,192.0,316.0,138.0,306.0,54.0,324.0,304.0
2,118.0,88.0,0.0,298.0,358.0,262.0,280.0,126.0,280.0,280.0,...,200.0,142.0,194.0,144.0,358.0,68.0,348.0,124.0,400.0,350.0
3,406.0,284.0,298.0,0.0,332.0,292.0,104.0,286.0,122.0,126.0,...,444.0,186.0,322.0,180.0,250.0,262.0,292.0,308.0,250.0,250.0
4,352.0,328.0,358.0,332.0,0.0,256.0,298.0,290.0,332.0,316.0,...,302.0,304.0,210.0,304.0,182.0,388.0,104.0,304.0,332.0,298.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
189,162.0,138.0,68.0,262.0,388.0,280.0,258.0,164.0,246.0,244.0,...,216.0,118.0,212.0,120.0,386.0,0.0,386.0,176.0,412.0,364.0
190,304.0,306.0,348.0,292.0,104.0,184.0,222.0,222.0,260.0,266.0,...,240.0,290.0,196.0,288.0,116.0,386.0,0.0,280.0,302.0,222.0
191,110.0,54.0,124.0,308.0,304.0,376.0,308.0,198.0,368.0,352.0,...,214.0,222.0,292.0,222.0,280.0,176.0,280.0,0.0,308.0,306.0
192,406.0,324.0,400.0,250.0,332.0,404.0,244.0,358.0,368.0,352.0,...,444.0,360.0,408.0,358.0,240.0,412.0,302.0,308.0,0.0,246.0
193,332.0,304.0,350.0,250.0,298.0,196.0,148.0,232.0,222.0,244.0,...,308.0,302.0,344.0,298.0,140.0,364.0,222.0,306.0,246.0,0.0

In [23]:
# HAM + TRATE
ham = get_distance_matrix(sequence_data,
                          method="HAM",
                          sm="TRATE",
                          indel="auto")
ham

[>] 194 sequences with 8 distinct states.
Computing sm with seqcost using TRATE
 [>] creating substitution-cost matrix using transition rates ...
 [>] Computing transition probabilities for states ['High', 'Low', 'Middle', 'Very High', 'Very Low', ' ', ' '] ...
[>] Generated an indel of type number.
[>] 192 distinct sequences .
[>] min/max sequence lengths: 222 / 222.
DHD starts ......
[>] start f:compute_all_distances() ...
[>] successfully computed!

,0,1,2,3,4,5,6,7,8,9,...,184,185,186,187,188,189,190,191,192,193
0,0.000000,163.709674,186.359709,443.216028,385.649001,441.951687,443.166151,310.355858,443.161237,443.183553,...,146.047834,325.043578,345.694043,325.060033,400.917141,209.300121,407.897873,117.718878,403.801303,407.934985
1,163.709674,0.000000,96.372123,393.633267,373.936376,351.271280,371.862612,202.370239,393.578476,381.735052,...,237.086702,273.500158,268.928411,275.477272,321.959884,175.402953,342.766795,86.923697,322.887042,342.501117
2,186.359709,96.372123,0.000000,341.117606,402.873619,306.059119,340.599531,218.075644,341.062815,340.828976,...,216.377704,222.888334,227.585983,222.955681,396.458520,124.892066,393.974670,149.495037,397.505856,387.963338
3,443.216028,393.633267,341.117606,0.000000,441.663426,325.005218,197.432327,341.493815,122.774429,146.588203,...,443.936132,249.613847,333.205670,247.525404,437.853221,283.354900,430.969313,439.318057,245.096978,403.106532
4,385.649001,373.936376,402.873619,441.663426,0.000000,324.233355,440.047270,379.271218,439.774227,440.500275,...,321.346376,420.081419,242.445952,422.112114,216.991685,423.904831,122.288021,312.966471,330.892680,341.466457
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
189,209.300121,175.402953,124.892066,283.354900,423.904831,319.377274,282.897288,187.854423,283.300109,294.984533,...,231.294360,145.204999,247.416936,147.155588,411.356571,0.000000,403.696364,205.402151,408.379757,376.911644
190,407.897873,342.766795,393.974670,430.969313,122.288021,241.137896,400.164201,283.905306,428.980022,421.716686,...,422.365736,390.374668,289.631933,396.290346,160.640065,403.696364,0.000000,327.520974,299.158767,288.890612
191,117.718878,86.923697,149.495037,439.318057,312.966471,416.637359,439.259708,269.763481,439.263266,439.280500,...,209.950244,321.144760,320.242508,321.162062,308.940353,205.402151,327.520974,0.000000,307.927699,325.485726
192,403.801303,322.887042,397.505856,245.096978,330.892680,397.117285,238.608619,353.586964,360.028304,344.626561,...,440.415999,355.342715,404.903546,353.356290,236.680885,408.379757,299.158767,307.927699,0.000000,239.852051
193,407.934985,342.501117,387.963338,403.106532,341.466457,294.208158,252.222738,312.165819,284.151637,322.499152,...,440.605855,323.632879,401.181193,315.807434,168.869389,376.911644,288.890612,325.485726,239.852051,0.000000

In [24]:
# DHD + CONSTANT
dhd = get_distance_matrix(sequence_data,
                         method="DHD",
                         sm="CONSTANT",
                         indel="auto")
# Because DHD requires the 'TRATE' parameter to be used, the result is an error
dhd

[>] 194 sequences with 9 distinct states.

ValueError: [!] 'sm = "CONSTANT"' is not relevant for DHD, consider HAM instead.

# 第二章：get_substitution_matrix
这些是官方文档 get_substitution_matrix 上的样例。

In [26]:
# TRATE + time_varying(True)
sm = get_substitution_cost_matrix(sequence_data,
                                  method="TRATE",
                                  cval=4,
                                  time_varying=True)
sm

 [>] creating time varying substitution-cost matrix using transition rates ...
 [>] Computing time varying transition probabilities for states ['High', 'Low', 'Middle', 'Very High', 'Very Low', ' ', ' ', ' '] ...

{'indel': 1,
 'sm': array([[[0., 4., 4., ..., 4., 4., 4.],
         [4., 0., 4., ..., 4., 4., 4.],
         [4., 4., 0., ..., 4., 4., 4.],
         ...,
         [4., 4., 4., ..., 0., 4., 4.],
         [4., 4., 4., ..., 4., 0., 4.],
         [4., 4., 4., ..., 4., 4., 0.]],

        [[0., 4., 4., ..., 4., 4., 4.],
         [4., 0., 4., ..., 4., 4., 4.],
         [4., 4., 0., ..., 4., 4., 4.],
         ...,
         [4., 4., 4., ..., 0., 4., 4.],
         [4., 4., 4., ..., 4., 0., 4.],
         [4., 4., 4., ..., 4., 4., 0.]],

        [[0., 4., 4., ..., 4., 4., 4.],
         [4., 0., 4., ..., 4., 4., 4.],
         [4., 4., 0., ..., 4., 4., 4.],
         ...,
         [4., 4., 4., ..., 0., 4., 4.],
         [4., 4., 4., ..., 4., 0., 4.],
         [4., 4., 4., ..., 4., 4., 0.]],

        ...,

        [[0., 4., 4., ..., 4., 4., 4.],
         [4., 0., 4., ..., 4., 4., 4.],
         [4., 4., 0., ..., 4., 4., 4.],
         ...,
         [4., 4., 4., ..., 0., 4., 4.],
         [4., 4., 4., ..., 4., 0., 4.],
         [4., 4., 4., ..., 4., 4., 0.]],

        [[0., 4., 4., ..., 4., 4., 4.],
         [4., 0., 4., ..., 4., 4., 4.],
         [4., 4., 0., ..., 4., 4., 4.],
         ...,
         [4., 4., 4., ..., 0., 4., 4.],
         [4., 4., 4., ..., 4., 0., 4.],
         [4., 4., 4., ..., 4., 4., 0.]],

        [[0., 4., 4., ..., 4., 4., 4.],
         [4., 0., 4., ..., 4., 4., 4.],
         [4., 4., 0., ..., 4., 4., 4.],
         ...,
         [4., 4., 4., ..., 0., 4., 4.],
         [4., 4., 4., ..., 4., 0., 4.],
         [4., 4., 4., ..., 4., 4., 0.]]])}

In [27]:
# CONSTANT + time_varying(False)
sm = get_substitution_cost_matrix(sequence_data,
                                  method="CONSTANT",
                                  cval=2,
                                  time_varying=False)
sm

 [>] creating 10x10 substitution-cost matrix using 2 as constant value

{'indel': 1,
 'sm':            High  Low  Middle  Very High  Very Low
 High        0.0  2.0     2.0        2.0       2.0  2.0  2.0  2.0  2.0  2.0
 Low         2.0  0.0     2.0        2.0       2.0  2.0  2.0  2.0  2.0  2.0
 Middle      2.0  2.0     0.0        2.0       2.0  2.0  2.0  2.0  2.0  2.0
 Very High   2.0  2.0     2.0        0.0       2.0  2.0  2.0  2.0  2.0  2.0
 Very Low    2.0  2.0     2.0        2.0       0.0  2.0  2.0  2.0  2.0  2.0
             2.0  2.0     2.0        2.0       2.0  0.0  2.0  2.0  2.0  2.0
             2.0  2.0     2.0        2.0       2.0  2.0  0.0  2.0  2.0  2.0
             2.0  2.0     2.0        2.0       2.0  2.0  2.0  0.0  2.0  2.0
             2.0  2.0     2.0        2.0       2.0  2.0  2.0  2.0  0.0  2.0
             2.0  2.0     2.0        2.0       2.0  2.0  2.0  2.0  2.0  0.0}

# 第三章：clara
这是官方文档 clara 上的样例。

In [ ]:
# clara
result = clara(sequence_data,
               R=10,
               sample_size=3000,
               kvals=range(2,21),
               criteria=['distance', 'pbm'],
               parallel=True,
               stability=True)
result

 [>] Starting generalized CLARA for sequence analysis.
 [>] Using crisp clustering optimizing the following criterion: distance, pbm.
 [>] Aggregating 194 sequences... OK (192 unique cases).
 [>] Starting iterations...

In [25]:
print("Thank you for learning sequence analysis with Sequenzo! ")
print("We hope you found this tutorial insightful.")
print("\n💡 Stay Curious, keep coding, and discover new insights.")
print("✉️ If you have any questions, please feel free to reach out :)")

Thank you for learning sequence analysis with Sequenzo!
We hope you found this tutorial insightful.

💡 Stay Curious, keep coding, and discover new insights.
✉️ If you have any questions, please feel free to reach out :)